.container {
    margin: 0 ;
    width: 700px;
    }
    .top-nav{
        background-color: #000000;
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
    .top-nav .container nav img{
    float: left;
    }
    .top-nav .container nav ul{
    float:right;
    }
    .top-nav .container nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 2em;
    }
    .top-nav .container nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    }
    h1{
        display: flex;
        align-items: left;

    }
    .imagen{
        display: flex;
        align-items: center ;
    }
    .container1{
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .centrado{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        position: absolute;
        color: #ffffff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .imagen1{
        text-align: center;
        justify-content: center;
        transform: translateY(-30%);
    }
    .imagen2{
        text-align: center;
        justify-content: center;
        transform: translateY(-30%);
    }
    #lollogo{
        width: 430px;
        height: 230px;
    }
    #tftlogo{
        width:430px;
        height: 230px;
    }